@font-face {
  font-family: "Tiny Tower";
  src: url("./fonts/tiny-tower.ttf") format("truetype");
}

@font-face {
  font-family: "Nokia";
  src: url("./fonts/nokiafc22.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  background-color: #4f8fba;
  font-family: "Tiny Tower", monospace;
}

body {
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 0px #5c7c94;
  gap: 16px;
  background-color: #4f8fba;
  z-index: 1;
}

#logo {
  max-width: 95vw;
  object-fit: contain;
}

#loading h1 {
  all: unset;
  font-family: "Nokia", monospace;
}

#modal-container,
#settings-container,
#music-player-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #00000050;
  z-index: 1;
}

#modal-container.show,
#settings-container.show,
#music-player-container.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal,
#settings,
#music-player {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #10141f;
  color: #fff;
  width: 550px;
  max-width: 90vw;
  max-height: 80vh;
  padding: 16px;
  gap: 12px;
  border: 4px solid #5c7c94;
  z-index: 1;
}

#music-player,
#settings {
  padding: 32px;
  width: 400px;
}

#modal-header,
#settings-header {
  font-family: "Nokia", monospace;
  text-transform: uppercase;
  font-size: 24px;
  text-align: center;
  color: #e8c170;
  text-shadow: 2px 2px 0px #be772b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-body,
#settings-body {
  font-size: 16px;
  font-family: "Tiny Tower", monospace;
  text-shadow: 2px 2px 0px #495588;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  overflow: auto;
}

#settings-body {
  padding-bottom: 12px;
}

#modal-footer {
  display: none;
  text-align: center;
  font-size: 18px;
  font-family: "Tiny Tower", monospace;
  text-shadow: 2px 2px 0px #2e4c5e;
}

#modal-footer.show {
  display: block;
}

#modal-close,
#settings-close,
#music-player-close {
  all: unset;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-family: "Tiny Tower", monospace;
  background-color: #5c7c94;
  line-height: 16px;
  width: 16px;
}

#music-player-close {
  top: -24px;
  right: -24px;
}

#modal-close:hover,
#settings-close:hover,
#music-player-close:hover {
  background-color: #2e4c5e;
}

#modal a,
#settings a {
  color: #a4dddb;
  text-decoration: none;
}

#modal a:hover,
#modal-footer button:hover {
  text-decoration: underline;
}

#modal-footer button {
  all: unset;
  cursor: pointer;
  font-size: 18px;
  font-family: "Tiny Tower", monospace;
  color: #a4dddb;
}

.modal-links {
  display: flex;
  justify-content: space-evenly;
  gap: 16px;
  width: 100%;
  margin-bottom: 8px;
}

.modal-button {
  all: unset;
  cursor: pointer;
  font-size: 20px;
  font-family: "Tiny Tower", monospace;
  text-shadow: 2px 2px 0px #696163;
  color: #e6d7cc;
  background-color: #5c7c94;
  box-shadow: 4px 4px 0px #2e4c5e;
  padding: 4px;
  width: 100%;
}

.modal-button:hover {
  color: #fff;
}

#music-player img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#music-player-prev-track img {
  transform: scaleX(-1);
}

#music-player-play.paused img {
  opacity: 0.5;
}

#music-player-next-track,
#music-player-play,
#music-player-prev-track {
  all: unset;
  cursor: pointer;
}

#music-player-next-track img,
#music-player-play img,
#music-player-prev-track img {
  height: 32px;
  width: auto;
}

#music-player-track-info {
  color: #e8c170;
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  letter-spacing: -1px;
  overflow: hidden;
  width: 100%;
  padding: 4px;
  background-color: #000;
}

#music-player-controls {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
  margin-top: 8px;
  margin-bottom: -16px;
}

.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.artist {
  all: unset;
  cursor: pointer;
  font-size: 16px;
  margin-left: -24px;
}

.artist::before {
  content: ">>";
  margin-right: 4px;
  opacity: 0;
}

.artist:hover {
  color: #a4dddb;
}

.artist:hover.artist::before {
  opacity: 1;
}

.lead {
  color: #fff;
}

.tours {
  padding: 0;
}

.tours li {
  list-style-type: none;
  margin: 8px 0;
}

.tours li a {
  margin-left: -8px;
}

.tours li:hover::before {
  opacity: 1;
}

.tours li::before {
  content: ">>";
  margin-right: 8px;
  opacity: 0;
}

.modal-art {
  width: 100%;
}

.modal-art img {
  width: 100%;
  height: auto;
}

hr {
  width: 100%;
  border: 2px solid gray;
}

#enter-button {
  all: unset;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 16px;
  font-family: "Nokia", monospace;
  font-size: 32px;
  text-shadow: 8px 8px 0px #696163;
  color: #e6d7cc;
  background-color: #5c7c94;
  box-shadow: 0px 16px 0px #2e4c5e;
  width: 300px;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.75);
}

#footer {
  position: fixed;
  bottom: 16px;
  left: 0;
  width: 100%;
  letter-spacing: -0.5px;
}

#enter-button:hover {
  color: #fff;
}

.settings-button {
  all: unset;
  cursor: pointer;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nokia", monospace;
  font-size: 16px;
  text-shadow: 2px 2px 0px #696163;
  color: #e6d7cc;
  background-color: #5c7c94;
  box-shadow: 0px 4px 0px #2e4c5e;
  width: 180px;
  text-align: center;
}

.settings-button span {
  margin-right: auto;
}

.checkbox {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #10141f25;
  margin-right: auto;
}

.checkbox.on:before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  content: "X";
  color: #e8c170;
  font-size: 12px;
  text-shadow: 2px 2px 0px #be772b;
}

#music-player-duration {
  display: flex;
  align-items: center;
}

#current,
#total {
  width: 40px;
  flex-shrink: 0;
  text-align: center;
}

#seek {
  width: 100%;
}

#back-button {
  width: 100px;
}

@media only screen and (max-width: 700px) {
  #modal,
  #settings {
    padding: 16px 8px;
    margin-top: -32px;
  }

  #modal-header,
  #settings-header {
    font-size: 18px;
  }

  #modal-close {
    top: -16px;
    right: -16px;
  }

  .modal-links {
    flex-direction: column;
    gap: 8px;
  }

  .modal-button {
    width: 260px;
    max-width: 75%;
    margin: auto;
  }
}

/* Music Player Slider */
input[type="range"] {
  position: relative;
  appearance: none;
  height: 2px;
  margin: 0;
  padding: 0;
  outline: none;
  background-color: #ebede9;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  -webkit-appearance: none;
  box-sizing: content-box;
  border: 1px solid #5c7c94;
  height: 14px;
  width: 14px;
  border-radius: 0;
  background-color: #5c7c94;
  cursor: pointer;
  margin: 0;
}

input[type="range"]:active::-webkit-slider-thumb {
  transform: scale(1.2);
  background: #5c7c94;
}

input[type="range"]::-moz-focus-outer {
  border: 0;
}

input[type="range"]::-moz-range-thumb {
  box-sizing: content-box;
  border: 1px solid #5c7c94;
  height: 14px;
  width: 14px;
  border-radius: 0;
  background-color: #5c7c94;
  cursor: pointer;
}

input[type="range"]:active::-moz-range-thumb {
  transform: scale(1.2);
  background: #5c7c94;
}

input[type="range"]::-ms-track {
  width: 100%;
  height: 2px;
  cursor: pointer;
  background: transparent;
  border: solid transparent;
  color: transparent;
}

input[type="range"]::-ms-fill-lower {
  background-color: #73bed3;
}

input[type="range"]::-ms-thumb {
  box-sizing: content-box;
  border: 1px solid #5c7c94;
  height: 14px;
  width: 14px;
  border-radius: 0;
  background-color: #fff;
  cursor: pointer;
}

input[type="range"]:active::-ms-thumb {
  transform: scale(1.2);
  background: #5c7c94;
}

.marquee {
  --gap: 1rem;
  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
}

.marquee-content {
  list-style-type: none;
  padding: 0;
  margin: 0;
  flex-shrink: 0;
  display: flex;
  justify-content: space-around;
  min-width: 100%;
  gap: var(--gap);
  animation: scroll 30s linear infinite;
  animation-delay: 2s;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - var(--gap)));
  }
}
