@font-face {
  font-family: "Tiny Tower";
  src: url("./fonts/tiny-tower.ttf") format("truetype");
}

@font-face {
  font-family: "Nokia";
  src: url("./fonts/nokiafc22.ttf") format("truetype");
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html,
body {
  background-color: #4f8fba;
  font-family: "Tiny Tower", monospace;
}

body {
  overflow: hidden;
}

canvas {
  image-rendering: pixelated;
}

#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
  text-shadow: 2px 2px 0px #5c7c94;
  gap: 16px;
  background-color: #4f8fba;
  z-index: 1;
}

#logo {
  max-width: 95vw;
  object-fit: contain;
}

#loading h1 {
  all: unset;
  font-family: "Nokia", monospace;
}

#modal-container,
#settings-container,
#music-player-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  background-color: #00000050;
  z-index: 1;
}

#modal-container.show,
#settings-container.show,
#music-player-container.show {
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal,
#settings,
#music-player {
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #10141f;
  color: #fff;
  width: 800px;
  max-width: 90vw;
  max-height: 80vh;
  padding: 32px;
  gap: 24px;
  border: 4px solid #5c7c94;
  z-index: 1;
}

#music-player,
#settings {
  width: 400px;
}

#modal-header,
#settings-header {
  font-family: "Nokia", monospace;
  text-transform: uppercase;
  font-size: 40px;
  text-align: center;
  color: #e8c170;
  text-shadow: 4px 4px 0px #be772b;
  display: flex;
  align-items: center;
  justify-content: center;
}

#modal-body,
#settings-body {
  font-size: 24px;
  font-family: "Tiny Tower", monospace;
  text-shadow: 2px 2px 0px #495588;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
  padding-bottom: 12px;
  overflow: auto;
}

#modal-footer {
  display: none;
  text-align: center;
  font-size: 28px;
  font-family: "Tiny Tower", monospace;
  text-shadow: 2px 2px 0px #2e4c5e;
}

#modal-footer.show {
  display: block;
}

#modal-close,
#settings-close,
#music-player-close {
  all: unset;
  position: absolute;
  top: 4px;
  right: 4px;
  z-index: 2;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  font-family: "Tiny Tower", monospace;
  background-color: #5c7c94;
}

#music-player-close {
  top: -24px;
  right: -24px;
}

#modal-close:hover,
#settings-close:hover,
#music-player-close:hover {
  background-color: #2e4c5e;
}

#modal a,
#settings a {
  color: #a4dddb;
  text-decoration: none;
}

#modal a:hover,
#modal-footer button:hover {
  text-decoration: underline;
}

#modal-footer button {
  all: unset;
  cursor: pointer;
  font-size: 28px;
  font-family: "Tiny Tower", monospace;
  color: #a4dddb;
}

#music-player img {
  image-rendering: pixelated;
  image-rendering: -moz-crisp-edges;
  image-rendering: crisp-edges;
}

#music-player-prev-track img {
  transform: scaleX(-1);
}

#music-player-play.paused img {
  opacity: 0.5;
}

#music-player-next-track,
#music-player-play,
#music-player-prev-track {
  all: unset;
  cursor: pointer;
}

#music-player-next-track img,
#music-player-play img,
#music-player-prev-track img {
  height: 64px;
  width: auto;
}

#music-player-track-info {
  text-align: center;
  white-space: nowrap;
  font-size: 24px;
  letter-spacing: -1px;
}

#music-player-controls {
  display: flex;
  justify-content: space-between;
  white-space: nowrap;
}

.artists {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.artist {
  all: unset;
  cursor: pointer;
  font-size: 24px;
  margin-left: -24px;
}

.artist::before {
  content: ">>";
  margin-right: 4px;
  opacity: 0;
}

.artist:hover {
  color: #a4dddb;
}

.artist:hover.artist::before {
  opacity: 1;
}

.info {
  color: #fff;
}

hr {
  width: 100%;
  border: 2px solid gray;
}

#enter-button {
  all: unset;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 24px;
  font-family: "Nokia", monospace;
  font-size: 64px;
  text-shadow: 8px 8px 0px #696163;
  color: #e6d7cc;
  background-color: #5c7c94;
  box-shadow: 0px 16px 0px #2e4c5e;
}

#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  filter: brightness(0.75);
}

#footer {
  position: fixed;
  bottom: 16px;
  left: 0;
  width: 100%;
  letter-spacing: -0.5px;
}

#enter-button:hover {
  color: #fff;
}

.settings-button {
  all: unset;
  cursor: pointer;
  display: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Nokia", monospace;
  font-size: 16px;
  text-shadow: 2px 2px 0px #696163;
  color: #e6d7cc;
  background-color: #5c7c94;
  box-shadow: 0px 4px 0px #2e4c5e;
  width: 180px;
  text-align: center;
}

.settings-button span {
  margin-right: auto;
}

.checkbox {
  position: relative;
  display: block;
  width: 24px;
  height: 24px;
  background-color: #10141f25;
  margin-right: auto;
}

.checkbox.on:before {
  position: absolute;
  top: 4px;
  left: 0;
  width: 24px;
  height: 24px;
  content: "X";
  color: #e8c170;
  font-size: 12px;
  text-shadow: 2px 2px 0px #be772b;
}

@media only screen and (max-width: 700px) {
  #modal,
  #settings,
  #music-player {
    padding: 16px 8px;
    margin-top: -32px;
  }

  #modal-header {
    font-size: 28px;
  }

  #modal-close {
    top: -16px;
    right: -16px;
  }
}
